<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Create Project</title>
	<link rel="stylesheet" href="/static/style.css" />
	<script src="/static/script.js" defer></script>
	<script src="/static/navbar.js" defer></script>
</head>
<body>
	<div id="navbar"></div>

	<form id="project-display" action="/projects/create" method="POST">
		<input id="name" type="text" name="project-name" placeholder="PROJECT NAME" required>
		<br>
		<input id="image" type="url" name="project-image" placeholder="Image URL">
		<br>
		<input id="location" type="text" name="project-location" placeholder="Location" required>
		<br>
		<input id="date" type="date" name="project-date" min="{{ current_date }}" placeholder="Date" required>
		<br>
		<textarea id="description" name="project-description" placeholder="Project Description" rows="25"></textarea>
		<br>
		<span id="email-disclaimer">Your email address will be displayed on the project as <input type="email" id="email" name="project-email" value="{{ session['email'] }}" placeholder="Email" multiple required></span>
		<input id="submit" type="submit" value="Publish">
		<div class="clearfloat"></div>
	</form>

	<script> 
		const profilePicture = "{{ session['picture'] }}"
	</script>
</body>
</html>