<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pine</title>
	<link rel="stylesheet" href="/static/style.css" />
	<script src="/static/script.js" defer></script>
	<script src="/static/navbar.js" defer></script>
</head>
<body>
	<div id="navbar" plain></div>

	<div id="home-header">
		<div class="left">
			<h1>Contribute to the Environment</h1>
			<p>Currently, global warming is becoming a bigger and bigger problem. If nothing is done to help the environment, the damage done by global warming will be irreversible. Pine provides inspiration and creates motivation to help the Earth and prevent the spread of climate change. You can view the progress of others and contribute to the cause. Join the initiative!</p>
		</div>

		<div class="right">
			<figure>
				<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/wbR-5mHI6bo" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
				<figcaption>Video by Kurzgesagt</figcaption>
			</figure>
		</div>
	</div>
	
</body>
</html>