<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="og:image" content="{{ project[4] }}">
	<meta property="og:title" content="{{ project[1] }}">
	<meta property="og:description" content="{{ project[7] }}">
	<title>Settings | Pine</title>
	<link rel="stylesheet" href="/static/style.css" />
	<script src="/static/script.js" defer></script>
	<script src="/static/navbar.js" defer></script>
</head>
<body>
	<div id="navbar"></div>

	

	<script> 
		const profilePicture = "{{ session['picture'] }}"
	</script>
</body>
</html>