<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Guide</title>
	<link rel="stylesheet" href="/static/style.css" />
	<script src="/static/script.js" defer></script>
	<script src="/static/navbar.js" defer></script>
	<script src="/static/guide_search.js" defer></script>
</head>
<body>
	<div id="navbar"></div>
	
	<h1>Guide</h1>

	<div id="guide-search">
		<input id="search" type="text" placeholder="Search for a Topic" autocomplete="off" required>
	
		<div id="suggestions"></div>
	</div>
	
</body>
</html>